

.main_container {
  /* background-color: aqua; */
  max-width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.perfil {
  border: 1px solid #ccc;
  border-radius: 100%;
  /* width: auto; */
  height: 100%;
  aspect-ratio: 1;
  /* padding: 0.3em; */
  overflow: hidden;
  /* background-color: aquamarine; */
}

.img {
  z-index: -1;
  height: 100%;
}

.ul li {
  font-size: 0.90rem;
}