.plotContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.chartWrapper {
  position: relative;
  display: inline-block;
}

.chartContainer {
  position: relative;
  transition: all 0.3s ease;
  /* background: white; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

/* Controles de tamanho (esquerda) */
.sizeControls {
  position: absolute;
  top: 10px;
  left: -40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 8px 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Controles de zoom (direita) */
.zoomControls {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px 2px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sizeButton, .zoomButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.sizeButton:hover, .zoomButton:hover {
  color: #8884d8;
  transform: scale(1.1);
}

.sizeButton:active, .zoomButton:active {
  transform: scale(0.95);
}