.linkItem {
  text-decoration: underline;
  font-size: 10pt;
  /* transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms; */
  white-space: nowrap;
}

.linkItem:hover {
  color: #707070;
}