.main_container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.sub_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
}

.bottom_line {
  height: 4px;
  background: linear-gradient(90deg, #8884d8, #82ca9d);
}

.nav_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main_buttons {
  display: flex;
  gap: 1.5rem;
  margin-left: 3rem;
}

.secnd_buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .main_buttons {
    gap: 1rem;
    margin-left: 1.5rem;
  }
  
  .secnd_buttons {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .sub_container {
    padding: 0 1rem;
  }
  
  .main_buttons {
    display: none; /* Esconde os links principais em mobile */
  }
  
  .secnd_buttons {
    margin-left: auto;
  }
}

.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .mobileMenuButton {
    display: block;
  }
  
  .mobileMenu {
    display: flex;
  }
}