.main_container {
  /* background-color: cadetblue; */
  /* width: 100%;
  height: 100%; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2rem;
  gap: 2rem;
}

.intro {
  /* background-color: #82ca9d; */
  width: 100%;
  height: calc(100vh - 80px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: calc(50% * 100vh);  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding : 2rem;
}

.alguma_coisa {
  /* background-color: #ff7300; */
  width: 60%;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  z-index: 10;
  color: var(--color-4);
  font-size: 40pt;
  font-weight: bold;
  /* text-shadow: 5px 5px 20px #aaa; */
}

.sub {
  z-index: 10;
  font-size: 20pt;
  /* text-shadow: 5px 5px 20px #aaa; */
}

.h2 {
  font-size: 20pt;
  font-weight: bold;
}

.grid_container {
  width: 100%;
  /* background-color: #aaa; */
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 colunas, largura conforme conteúdo */
  grid-template-rows: repeat(2, auto); /* 2 linhas */
  gap: 1rem; /* espaço entre os itens */
  justify-content: space-evenly; /* centraliza o grupo todo na tela */
  justify-items: start; /* alinha os elementos à esquerda dentro das células */
}

.button_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ----------------------------------------*/

.plot_container {
  width: 70%;
  aspect-ratio: 16/9;
  /* background-color: aquamarine; */
   
  display: flex; 
  flex-direction: column;
}

.select_container {
  /* background-color: blueviolet; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.select {
  width: 10%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.section {
  width: 100%;
  height: 100%;
}


