.linkContainer {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* padding: 1rem; */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */

  padding-left: 1rem;
  padding-right: 1rem;
}

.linkItem {
  text-decoration: none;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  white-space: nowrap;
}

.linkItem:hover {
  color: #707070;
}

.active1 {
  color: var(--color-1);
}

.active2 {
  text-decoration: underline;
}

.div_active {
  background-color: #e0dede;
}